#SignupContent button{
  margin-top: 20px;
  padding: 15px;
  color: yellow;
  background: none;
  box-shadow: 15px 10px 5px rgba(26,26,26);
  border: 1px solid white;
}

#SignupContent{
  background-color: rgba(26,26,26,0.5);
  margin-top: 50px;
  padding-bottom: 50px;
  color: white;
  border-bottom: 4px solid yellow;
}

#SignupContent p{
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 50px;
  text-shadow: 1px 2px 3px black;
}
/* #SignupContent>div:nth-child(2){
  border-right: 4px double yellow;

} */
#SignupContent input{
  border: 3px solid white;
}

#SignupContent span{
    padding: 15px;
    font-size: 20px;
    color: yellow;
    text-shadow: 1px 2px 3px black;
}
#SignupContent  input:focus {
    color: yellow;
}
.redButton{
  background-color: red;
  color: red;
}

.whiteButton{
  background-color: white;
  color: black;
}
