.cardfeaturs{
  position: relative;
  margin-left: 5%;
  margin-top: -80%;
  width: 350px;
}

.cardfeaturs h1{
  margin-top: 100px;
  font-family: 'Caveat', cursive;
  color: yellow;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 3px 4px 8px black;
}
.cardfeaturs div{
  margin: 10px;
}
.cardfeaturs .card{
  border: none;


}
.cardfeaturs h4{
  position: relative;
  border-radius: 50%;
    font-size: 20px;
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    background: yellow;
    color: black;
    text-align: center;
}

.cardfeaturs span{
  position:absolute;
  margin-left: 70px;
  top:50px;
  font-size: 15px;
}

@media screen and (max-width:1200px) {
  .cardfeaturs{
    display: none!important;
  }
}
