.topmenu nav{
  border-bottom: 2px solid rgba(255, 255, 0);
}
.topmenu a{
  font-size: 13px;
  color: white;
}
.topmenu span:hover{
  color: yellow;
}
.menuright i:hover{
  color: yellow;
}

@media screen and (max-width:1200px) {
  .menuright,.menuleft{
    display: none!important;
  }
}
