#signup{
  background-image: url("../../general/images/photo.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;

}

#signup div{
    background: rgba(39,62,84,0.9);
      height: 100%;

}
