#card i{
  color: yellow;
  text-shadow: 2px 2px 1px black;
  text-align: center;
}
#card .card{
  border: none;
  background: none;
}
#card span{
  font-size: 70px;
  border-radius: 100%;
  padding: 20px 40px;
  background: rgb(44, 51, 58);
  color: white;
  text-align: center;
}
#card span:hover{
    color: yellow;
}

#card p{
  color: white;
  padding-top: 20px;
  font-size: 25px;
}
