#mynavbar img{
  width:100px;
}
.nav-links{
  color: #d9d9d9;
  text-decoration: none;
  padding: 10px;
}
.nav-links:hover{
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.nav-links:focus{
  color: white;
}

#mynavbar li{
    padding-right: 30px;
}

#mynavbar li:nth-child(6) a{
  border-radius: 15px;
}

#mynavbar li:nth-child(6) a:hover{
  background-color: rgba(0, 0, 0,0.6);
}
#mynavbar li:nth-child(7) a{
  color: yellow;
  background: rgba(26,26,26,0.5);
  border-radius: 15px;
}
#mynavbar li:nth-child(7) a:hover{
  background-color: rgba(0, 0, 0,0.6);
}
#mynavbar li:nth-child(7) a,#mynavbar li:nth-child(6) a{
  border: 1px solid yellow;
}

#mynavbar .collapse{
  background: none;
}
