#contentabout h1{
  color: rgb(26,26,26);
  margin-top:150px;
  margin-left: 40px;
  text-shadow: 1px 2px 3px black;
}
.line{
  border-left: 6px solid yellow;
  height: 110px;
  position: absolute;
  margin-left: 30px;
}
#contentabout li{
  list-style:disc;
}
#contentabout h6{
  margin-left: 40px;
}

#contentabout h3{
  margin-top: 80px;
}
#contentabout span{
  margin-top: 20px;
}
