#footer{
  background-color: rgb(44, 51, 58,0.8);
  margin-top: 150px;
  border-right: 6px solid yellow;
}

#footer ul .nav-item:nth-child(4) i{
  display: none;
}
#footer  .navbar-nav{
  flex-direction: row;
}

#footer  .navbar-nav i{
  font-size: 25px;
  padding: 10px;
  text-shadow: 1px 2px 3px black;
  margin-bottom: 15px;
}
#footer  .navbar-nav i:hover{
    border: 1px solid yellow;
}

#footer img{
  width: 120px;
}
#footer  ul:nth-child(2){
  justify-content: center;

}
#footer  ul:nth-child(2) li:nth-child(3),
#footer  ul:nth-child(2) li:nth-child(5),
#footer  ul:nth-child(2) li:nth-child(6),
#footer  ul:nth-child(2) li:nth-child(7){
  display: none;
}
#footer ul:nth-child(2) li{
  border-right: 1px solid white;
  text-shadow: 1px 2px 3px black;
}
#footer  ul:nth-child(2) li:nth-child(4),#footer .col-md-4 ul li{
  border:none;
}

#footer p{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: yellow;
}
#footer .col-md-4:nth-child(2) span:first-child{
  font-size: 30px;
  font-family: 'Caveat', cursive;
  margin-left: 80px;
  text-shadow: 1px 2px 3px black;
  color: white;
  border-bottom: 2px double yellow

}
#footer div:last-child{
  color: yellow;
}
#footer .col-md-4:nth-child(2) ul i{
  color: yellow;
  border: none;
  text-shadow: 1px 2px 3px black;
}
#footer .col-md-4:nth-child(2) ul{
  margin-top: 20px;
  flex-direction: column;
}
#footer .col-md-4:nth-child(2) ul li:nth-child(4) i{
  display: inline-block;
}
@media screen and (max-width:900px) {
  #footer p{
    display: none;
  }
  #footer .col-md-4:nth-child(2) ul li{
    font-size: 15px;
  }
}
@media screen and (max-width:800px) {
  #footer .col-md-4:nth-child(2) ul li{
    font-size: 12px;
  }
  #footer  .col-md-8 ul{
    margin-left: 32%;
  }
  #footer  .col-md-8 i{
    color: yellow;
    text-shadow: 5px 2px 3px black;
  }
  #footer .col-md-4:nth-child(2) span:first-child{
    margin-left: 20px;
  }
}
