.personmessage{
  margin-top: 100px;
}
.personmessage Button{
  margin-left: 35%;
  margin-bottom: 20px;
}
.personmessage input{
  background: white;
  box-shadow: none;
}

.personmessage input:focus{
  color: rgba(26,26,26);
  box-shadow: none;

}
.personmessage Label{
  color: white;
}
.personmessage h3{
  color: yellow;
}
.personmessage p{
  color: white;
  font-size: 20px;
}
.thank{
  font-family: 'Caveat', cursive;
  color: yellow;
}

@media screen and (max-width: 767px) {
  .thank{
    font-size: 40px;
  }
  #heading span{
    font-size: 28px;
  }
}
